.App {
  text-align: center;
}

.flex-container {
  display: flex;
  min-height: 90vh;
  height: auto;
  background-color: #01143b;
}

.navBar {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  background-color: #01143b;
}

.navBar-section {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
  background-color: #001b52;
  border-radius: 5px;
  border: #282c34 2px solid;
  color: white;
}

.note {
  /* background-color: #e0e0e0; */
  padding: 20px;
  margin: 20px;
  width: 170px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #737883;
  border-radius: 5px;
  height: 100%;
}

.note-article p {
  margin: 5px;
  padding: 5px;
  position: relative;
  top: -35px;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
}

/* .notes h1 {
  color: #000000;
} */

.home {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 80%;
  margin: 5px;
  height: auto;
  background-color: #1f66e9;
  border: #282c34 2px solid;
  border-radius: 5px;
}

.sideBar {
  display: flex;
  width: 20%;
  height: auto;
  margin: 5px;
  justify-content: space-around;
  background-color: #1f66e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: #282c34 2px solid;
  border-radius: 5px;
  order: 1;
}

.notFound {
  position: relative;
  top: 150px;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40%;
  color: azure;
}

.notes-section {
  display: flex;
  position: relative;
  /* position: absolute; */
  /* left: 50px;
  top: 150px; */
  flex-wrap: wrap;
  justify-items: left;
  /* justify-content: space-between; */
  /* justify-content: center; */
  width: 750px;
  bottom: 230px;
  margin: 5px;
  height: auto;
  /* background-color: #38039b; */
  /* border: #282c34 2px solid; */
  border-radius: 5px;
}

.noteFolders-section {
  position: relative;
  left: 225px;
  bottom: 230px;
}

.noteFolders-section button {
  background-color: #01143b;
  color: white;
  width: 210px;
  height: 290px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
